<%@page_title = 'Admin Users New'%>
<%= link_to("<<Back to list", {:action => 'index'}, :class => 'back-to-link') %>

<div class = "Admin Users new">
	<h2>Add Admin User</h2>

<%= form_for(:admin_user, :url=>{:action=>'create'}) do |f| %>

<%= render( :partial=>'form', :locals=>{ :f => f } ) %>

<div class= 'form-buttons'>
	<%= submit_tag("Create User")%>
	</div>
<%end%>
</div>
